body{
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;
    padding: 2em;
}

nav > ul{
    margin: 0;
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li{
    margin: 0;
    padding: 5px;
}