<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head (titulo)">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <title th:text='${"Tarefeito: "+titulo}'>Tarefeito: Layout Padrão</title>
</head>

<body>
    <header th:fragment="header (titulo)">
        <h1>Tarefeito</h1>
        <h2 th:text="${titulo}">Layout Padrão</h2>
        <nav>
            <ul>
                <li>
                    <a th:href="@{/tarefa/index.html}">Tarefas</a>
                </li>
                <li>
                    <a th:href="@{/usuario/index.html}">Usuarios</a>
                </li>
            </ul>
        </nav>
    </header>
</body>

</html>