<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Tarefa</title>
</head>
<body>
    <h1>Nova Tarefa</h1>
    <form th:action="@{nova.html}" method="post" th:object="${tarefa}">
        <div>
            <label for="titulo">Titulo</label>
            <input type="text" id="titulo" th:field="*{titulo}"/>
        </div>

        <div>
            <label for="tomatos">Tomatos</label>
            <input type="number" id="tomatos" th:field="*{tomatos}"/>
        </div>
        <div>
            <input type="submit"/>
        </div>
    </form>
</body>
</html>