<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout-padrao::head(titulo='Listar Tarefas')" />
<body>
    <header th:replace="layout-padrao::header(titulo='Listar Tarefas')" />
    <nav th:replace="tarefa-index::acoes"></nav>
    <table>
    <tr th:each="tarefa: ${tarefas}" th:object="${tarefa}">
        <td th:text="*{id}"></td>
        <th th:text="*{titulo}"></th>
        <th th:text="*{tomatos}"></th>
        <th><a th:href="@{./editar/{id}(id=*{id})}">Editar</a></th>
        <th><a th:href="@{./excluir/{id}(id=*{id})}">Excluir</a></th>
    </tr>
</table>
</body>
</html>