<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout-padrao::head(titulo='Editar Tarefa')" />
<body>
    <header th:replace="layout-padrao::header(titulo='Editar Tarefa')" />
    <nav th:replace="tarefa-index::acoes"></nav>
    <h1>Editação</h1>
    <form th:action="@{../editar/{id}(id=*{id})}" method="post" th:object="${tarefa}">
        <input type="hidden"  th:field="*{id}"/>
        <div>
            <label for="titulo">Titulo</label>
            <input type="text" id="titulo" th:field="*{titulo}"/>
            <strong th:if="${#fields.hasErrors('titulo')}" th:erros="*{titulo}"></strong>
        </div>

        <div>
            <label for="tomatos">Tomatos</label>
            <input type="number" id="tomatos" th:field="*{tomatos}"/>
            <strong th:if="${#fields.hasErrors('tomatos')}" th:erros="*{tomatos}"></strong>
        </div>
        <div>
            <input type="submit"/>
        </div>
    </form>
</body>
</html>