<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas</title>
</head>
<body>
    <h1>
        Tarefas
    </h1>
    <tr th:each="tarefa: ${tarefas}" th:object="${tarefa}">
        <th th:text="*{id}"></th>
        <th th:text="*{titulo}"></th>
        <th th:text="*{tomatos}"></th>
    </tr>
    
</body>
</html>